<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title>Settings</title>
<link rel="stylesheet" href='{% static "accounts_css/style.css" %}'/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="././static/accounts_js/script.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
<link rel="icon" href="/media/homepage_pics/favicon.ico">
</head>
<body>
    <header class="header">
        <nav class="header-nav">
            <ul class="flex">
				<div class="logo"><img alt="logo" src="/media/homepage_pics/logo_zako.png"></div>
                <div class="header-nav-item"><a href="{% url 'home' %}"><img alt="home" src="/media/buttons/header/home.png"></a></div>
				<div class="header-nav-item"><a href="{% url 'books:post' %}"><img alt="post" src="/media/buttons/header/post.png"></a></div>
                <div class="header-nav-item"><a href="{% url 'forum' %}"><img alt="forum" src="/media/buttons/header/forum.png"></a></div>
            	<div class="header-nav-item"><a href="{% url 'books:groups' %}"><img alt="group" src="/media/buttons/header/group.png"></a></div>
                <div class="header-nav-item"><a href="{% url 'records' login_user.id %}"><img alt="portfolio" src="/media/buttons/header/portfolio.png"></a></div>
                <div class="header-nav-prof">
                    <a href="{% url 'profile' %}" class="prof-item"><img class="prof-pic" src="{{login_user.icon_image.url}}"></a>
                </div>
            </ul>
        </nav>
    </header>
  <div class="wrapper2 clearfix">
    <div class="nav">
        <div>
            <form action="{% url 'forum' %}" method="post" name="group_form">
                {% csrf_token %}
                <h3>Groups</h3>
                <div class="search-item">{% render_field groupform.groups id="sort-records" %}</div>
                <div class="search-item"><input class="main-button" type="image" src="/media/buttons/main/filter.png"></div>
            </form>
        </div>
    </div>
    <div class="post-it-wrapper">
        {% for item in contents %}
        <div class="post-it">
            <div class="post-it-owner">
                <img src={{ item.owner.icon_image.url }} alt="profile_picture">
                <div class="owner-date">
                    <div class="owner">{{item.owner}}</div>        
                    <div class="date">{{item.pub_date}}</div>                 
                </div>
            </div>
            {% if item.app == "books" %}
            <div class="post-it-main"><a href="{% url 'books:reply' chat_id=item.record.id reply_id=item.id %}">{{item.comment|safe|linebreaksbr}}</a></div>
            {% elif item.app == "articles" %}
            <div class="post-it-main"><a href="{% url 'articles:reply' chat_id=item.record.id reply_id=item.id %}">{{item.comment|safe|linebreaksbr}}</a></div>
            {% elif item.app == "movies" %}
            <div class="post-it-main"><a href="{% url 'movies:reply' chat_id=item.record.id reply_id=item.id %}">{{item.comment|safe|linebreaksbr}}</a></div>
            {% elif item.app == "papers" %}
            <div class="post-it-main"><a href="{% url 'papers:reply' chat_id=item.record.id reply_id=item.id %}">{{item.comment|safe|linebreaksbr}}</a></div>
            {% endif %}
            <div class="post-it-sub">
                <div>↩ {{item.reply_count}}</div>
            </div>
        </div>
        
        {% endfor %}
    </div>
  </div>

   <div class="footer">
      <div class="footer-nav">
          <ul>
              <a href="{% url 'Logout' %}">logout</a>
              <p>|</p>
              <a href="{% url 'contact' %}">contact us</a>
          </ul>
      </div>
      <div class="copyright-info">
          <p>© 2024 Y | All Rights Reserved</p>
      </div>
  </div>
</body>
</html>
