<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="ja" dir="ltr">

<head>
<meta charset="utf-8">
<title>Sign Up</title>
<link rel="stylesheet" href='{% static "accounts_css/style.css" %}'/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
<link rel="icon" href="/media/homepage_pics/favicon.ico">
</head>

<body>
 <div class="wrapper">

  <div class="container">
     <h1><figure class="frame"><img class="logo-nav" src="/media/homepage_pics/logo.jpg"></figure></h1>
     <h2>Sign up</h2>
     
     <form enctype="multipart/form-data" method="post" class="form">
        {% csrf_token %}
        {% render_field account_form.username placeholder="User ID" %}
        {{account_form.username.errors}}
        
        {% render_field account_form.password placeholder="Password" %}
        {{account_form.password.errors}}
        {% render_field add_account_form.email placeholder="Email" %}
        {{add_account_form.email.errors}}
        {% render_field add_account_form.first_name placeholder="First name" %}
        {{add_account_form.first_name.errors}}
        {% render_field add_account_form.last_name placeholder="Last name" %}
        {{add_account_form.last_name.errors}}
        {% render_field add_account_form.account_image placeholder="Profile picture" class="dropzone" %}
        <span><h3 class="textForDropzone">Drop Image here or Click</h3></span>
	{{add_account_form.account_image.errors}}
        <tr><td></td><td>
        <div><input class="button" type="submit" value="Register" style="background-color: white;"></div>
     </form>
     <p class="message">Already have an account? 
     <a href="{% url 'Login' %}"><u>Log in here</u>.</a>
     </p>
     <br>
  </div>
 </div>
 <div class="footer">
   <div class="footer-nav">
       <ul>
           <a href="#">about us</a>
           <p>|</p>
           <a href="https://docs.google.com/forms/d/e/1FAIpQLSffl6bNS5E_pVM_YToC1gJQkFDNA_494JuR3JOmLG87FI1axQ/viewform?embedded=true" target="_blank" rel="noopener noreferrer">contact us</a>
       </ul>
   </div>
   <div class="copyright-info">
       <p>© 2024 Y | All Rights Reserved</p>
   </div>
</div>

</body>
</html>
