{% extends 'books_HTML/layout.html' %}

{% block title %}TalkRoom{% endblock %}

{% block header-main %}
<div class="header-title"><h1>TalkRoom</h1></div>
<p class="caption"></p>
{% if messages %}
<div class="message-div">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="chat-main" >
    <div class="details clearfix scroll-bar">
        <div class="selectedpost">
            <div class="group-title"><span>{{brcd_contents.group.title}}</span></div>
            <div class="box">
                <img src={{brcd_contents.img_path}} alt="{{brcd_contents.title}}" class="frontcover" onerror="this.src='/media/homepage_pics/logo.jpg'">
                <div class="mask">
                    <div class="caption">≪{{brcd_contents.genre}}≫</div>
                    <div class="caption"><img class="info" src="/media/homepage_pics/info=score.png" alt="score:"><div>{{brcd_contents.score}}</div></div>
					<div class="caption"><img class="info" src="/media/homepage_pics/info=comment.png" alt="comment:"><div>{{brcd_contents.chat_count}}</div></div>	
                </div>
                <div class="summary-box">
                    <h3>『{{brcd_contents.title}}』 ({{brcd_contents.first_author}}, {{brcd_contents.pub_year}})</h3>
                    {{brcd_contents.summary|linebreaksbr}}
                </div>
            </div>
            <div class="report-box">
                <div class="forowner">
                    <a href="{% url 'records' brcd_contents.owner.id %}"><img class="owner-icon" src="{{brcd_contents.owner.icon_image.url}}"></a>
                    <p>{{brcd_contents.owner}}</p>
                    <br>
                    {% if brcd_contents.owner == login_user %}
                    <a href="{% url 'books:edit' brcd_contents.id %}"><input class="main-button" type="image" alt="edit" src="/media/buttons/main/edit.png"></a>
                    <a href="{% url 'books:repost' brcd_contents.id %}"><input class="main-button" type="image" alt="repost" src="/media/buttons/main/repost.png"></a>
                    {% endif %}
                </div>
                
                <p class="report">{{brcd_contents.report|safe|linebreaksbr}}</p>
            </div>
        </div>
        <div class="date">({{brcd_contents.pub_date}})
            {% if brcd_contents.edit_count == 1 %}
            <div class="date">(Edited once)</div>
            <div class="date">(Last edit: {{ brcd_contents.edit_date }})</div>
            {% elif brcd_contents.edit_count > 1 %}
            <div class="date">(Edited {{brcd_contents.edit_count}} times)</div>
            <div class="date">(Last edit: {{ brcd_contents.edit_date }})</div>
            {% endif %}
        </div>
    </div>    
    <div class="comment-area scroll-bar">
        <h3>Chat History</h3>
        <br>
        <a href="{% url 'books:chat' chat_id %}" ><input class="main-button" type="image" alt="other topics" src="/media/buttons/main/othertopics.png"></a>
        <br>
        <div class="post-it-wrapper reply">
            <div class="post-it">
                <div class="post-it-owner">
                    <img src={{ chat_contents.owner.icon_image.url }} alt="profile_picture">
                    <div class="owner-date">
                        <div class="owner">{{chat_contents.owner}}</div>        
                        <div class="date">{{chat_contents.pub_date}}</div>                 
                    </div>
                </div>
                <div class="post-it-main"><a href="#">{{chat_contents.comment|safe|linebreaksbr}}</a></div>
                <br>
            </div>
        </div>
        <br>
        <br>
    {% for reply_item in reply_contents %}
        
        {% if reply_item.owner == login_user %}
        <div class="reply-wrapper right" >
            <div class="popover">
                <div class="icon right" style="background-image :url({{reply_item.owner.icon_image.url}});">
                    <div class="popover-container right">
                        <p class="popover-title">{{reply_item.owner}}</p>
                        <p class="popover-content">{{reply_item.comment|safe|linebreaksbr}}</p>
                        <p class="popover-time">({{reply_item.pub_date}})</p>
                    </div>
                </div>
            </div>
        </div>
        {% elif reply_item.owner != login_user %}
        <div class="reply-wrapper left" >
            <div class="popover">
                <div class="icon left" style="background-image :url({{reply_item.owner.icon_image.url}});">
                    <div class="popover-container left">
                        <p class="popover-title">{{reply_item.owner}}</p>
                        <p class="popover-content">{{reply_item.comment|safe|linebreaksbr}}</p>
                        <p class="popover-time">({{reply_item.pub_date}})</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
        <div>
            <form action="{% url 'books:reply' chat_id=chat_id reply_id=reply_id %}" method="post" class="rep-form">
                {% csrf_token%}
                {{form.comment}}
                <input class="main-button" type="image" alt="reply" src="/media/buttons/main/reply.png">
            </form>
            <br>
        </div>
    </div>
    <div id="js-summary" class="hidden"></div>
    <div id="js-thoughts" class="hidden"></div>
    <div id="js-hamburger" class="hidden"></div>
    <div id="js-history" class="hidden"></div>
</div>
{% endblock %}