{% load static %}
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title>Contact Us</title>
<link rel="stylesheet" href='{% static "accounts_mobile_css/style.css" %}'/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
<link rel="icon" href="/media/homepage_pics/favicon.ico">
</head>

<body>
    <div class="loader-bg">
        <div class="loader"></div>
    </div>

    <div class="container">
        <header class="header">
            <button class="header-hamburger hamburger" id="js-hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <img class="header-logo" src="/media/homepage_pics/logo.jpg">
            <a href="{% url 'profile' %}"><img class="prof-pic" src="{{login_user.icon_image.url}}"></a>
            <nav>
                <div class="nav" id="js-nav">
                    <ul>
                        <br>
						<li class="nav-item"><a href="{% url 'books:groups' %}"><input class="main-button" type="image" alt="add_group" src="/media/buttons/main/addgroup.png"></a></li>
						<li class="nav-item"><a href="{% url 'books:friend' %}"><input class="main-button" type="image" alt="add_friend" src="/media/buttons/main/addfriend.png"></a></li>
						<li class="nav-item"><a href="{% url 'profile' %}"><input class="main-button" type="image" alt="setting" src="/media/buttons/main/setting.png"></a></li>
						<li class="nav-item"><a href="{% url 'contact' %}"><input class="main-button" type="image" alt="contact_us" src="/media/buttons/main/contact.png"></a></li>
						<li class="nav-item"><a href="{% url 'Logout' %}"><input class="main-button" type="image" alt="logout" src="/media/buttons/main/logout.png">
						</a></li>
					</ul>
                </div>
            </nav>
        </header>

        <main class="main">
            <section>
                <h3>Contact Us</h3>
                <br>
                <div>
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSffl6bNS5E_pVM_YToC1gJQkFDNA_494JuR3JOmLG87FI1axQ/viewform?embedded=true" width="80%" height="90%" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
                </div>
            </section>
        </main>

        <footer class="footer">
			<div class="footer-nav">
				<ul>
					<a href="{% url 'home' %}"><img alt="home" src="/media/buttons/footer/home.png"></a>
					<a href="{% url 'books:post' %}"><img alt="post" src="/media/buttons/footer/post.png"></a>
					<a class="history" id="js-history"><img alt="history" src="/media/buttons/footer/history.png"></a>
					<a href="{% url 'records' login_user.id %}"><img alt="library" src="/media/buttons/footer/library.png"></a>					
				</ul>
			</div>


			<script type="text/javascript" src="/static/accounts_js/script.js"></script>

		</footer>
    </div>
</body>
</html>
