{% load static %}
{% load widget_tweaks %}
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title>Records</title>
<link rel="stylesheet" href='{% static "accounts_mobile_css/style.css" %}'/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
<link rel="icon" href="/media/homepage_pics/favicon.ico">
</head>

<body>

    <div class="container">
        <header class="header">
            <button class="header-hamburger hamburger" id="js-hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
	    <img class="header-logo" src="/media/homepage_pics/logo.jpg">
            <a href="{% url 'profile'  %}"><img class="prof-pic" src="{{login_user.icon_image.url}}"></a>
            <nav>
                <div class="nav" id="js-nav">
                    <ul>
						<br>
						<li class="nav-item"><a href="{% url 'books:groups' %}"><input class="main-button" type="image" alt="add_group" src="/media/buttons/main/addgroup.png"></a></li>
						<li class="nav-item"><a href="{% url 'books:friend' %}"><input class="main-button" type="image" alt="add_friend" src="/media/buttons/main/addfriend.png"></a></li>
						<li class="nav-item"><a href="{% url 'profile' %}"><input class="main-button" type="image" alt="setting" src="/media/buttons/main/setting.png"></a></li>
						<li class="nav-item"><a href="{% url 'contact' %}"><input class="main-button" type="image" alt="contact_us" src="/media/buttons/main/contact.png"></a></li>
						<li class="nav-item"><a href="{% url 'Logout' %}"><input class="main-button" type="image" alt="logout" src="/media/buttons/main/logout.png">
						</a></li>
					</ul>
                </div>
            </nav>
        </header>
        <main class="main">

                <h3>Settings</h3>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <div class="setting-container">
					<h3>-Notification-</h3>
					<hr>
					<div class="container1-home">
						<h3>LINE</h3>
						<h6>フレンドの新規投稿・コメントをLINEでお知らせします。</h6>
						<br>
						<img src="https://qr-official.line.me/gs/M_681uwhbu_GW.png?oat_content=qr" height="200px" width="auto">
						<br>
						<br>
						<div><input type="image" class="unveil-button" alt="secret key" src="/media/buttons/main/secretkey.png"></div>
						<div class="hidden-value">{{login_user.secret_key}}</div>
					</div>
					<h3>-Account-</h3>
					<hr>
					<br>
					<p><img src="{{ img_path }}" alt="profile_picture" align="middle"></p>
					<h3>{{login_user}}</h3>
					<form enctype="multipart/form-data" method="post" class="login-form setting-form">
						{% csrf_token %}
						{% render_field form.email placeholder="Email" class="input-login" %}
						{{ form.email.errors }}
						{% render_field form.first_name placeholder="First Name" class="input-login" %}
						{{ form.first_name.errors }}
						{% render_field form.last_name placeholder="Last Name" class="input-login" %}
						{{ form.last_name.errors }}
						{% render_field form.account_image placeholder="Profile Picture" class="dropzone" %}
						<span><h3 class="textForDropzone">Tap here to set your profile image.</h3></span>
						{{ form.account_image.errors }}
						<tr><td></td><tr>
						<input class="button" type="submit" value="Register" style="width: 600px;">
						<br>
						<br>
					</form>					
				</div>

            
        </main>

        <footer class="footer">
			<div class="footer-nav">
				<ul>
					<a href="{% url 'home' %}"><img alt="home" src="/media/buttons/footer/home.png"></a>
					<a href="{% url 'books:post' %}"><img alt="post" src="/media/buttons/footer/post.png"></a>
					<a class="history" id="js-history"><img alt="history" src="/media/buttons/footer/history.png"></a>
					<a href="{% url 'records' login_user.id %}"><img alt="library" src="/media/buttons/footer/library.png"></a>					
				</ul>
			</div>


			<script type="text/javascript" src="/static/accounts_js/script.js"></script>

		</footer>
    </div>
</body>
</html>

